<footer id="footer" class="footer">
    <div>
        <div class="foot">
            <div class="footer-left rounded">
                <span class="span">
                    Versión 1.0.0 <br>Copyright&copy; 2022 Luis Flores. Todos los derechos reservados. <br>
                    Grupo Fender S.A. de C.V.<br>
                    Baja California, México, C.P. 21000
                </span>
            </div>
            <div class="footer-right rounded">
                <div class="links-foot">
                    <a href="https://www.fender.com/"><strong>PÁGINA OFICIAL </strong> </a>|
                    <a href="https://www.fender.com/"> <strong> CONTÁCTANOS </strong>   </a>|
                    <a href="https://www.fender.com/"><strong>  PROVEEDORES </strong> </a>|
                    <a href="https://www.fender.com/"> <strong> NOSOTROS </strong></a>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</footer>
