<footer id="footer" class="footer">
    <div>
        <div class="foot">
            <div class="footer-left rounded">
                <span class="span">
                    Versión 1.0.0 <br>Copyright&copy; 2022 Luis Flores. Todos los derechos reservados. <br>
                    Grupo Fender S.A. de C.V.<br>
                    Baja California, México, C.P. 21000
                </span>
            </div>
            <div class="footer-right rounded">
                <div class="links-foot">
                    <a href="https://www.gmtransport.com/"><strong>PÁGINA OFICIAL </strong> </a>|
                    <a href="https://hombre-camion.com/"> <strong> HOMBRE CAMIÓN </strong>   </a>|
                    <a href="https://gm-facturaelectronica.com/"><strong>  FACTURACIÓN ELECTRÓNICA </strong> </a>|
                    <a href="https://www.conduce087.com/"> <strong> BITÁCORA ELECTRÓNICA </strong></a>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</footer>