<div class="imgPanel">
    <div class="container">
    <div class="cursor">
        <a href="https://www.fender.com/es/new-releases/"><img class="rounded" src="" alt=""></a>
    </div>
    </div>
    <div class="container">
        <div class="cursor">
            <a href="https://www.fender.com/es/four-on-the-floor.html"><img class="rounded" src=""   alt=""></a>
        </div>
        </div>
        <div class="container">
            <div class="cursor">
                <a href="https://www.fender.com/es/electric-series/player-plus/"><img class="rounded" src=""  alt=""></a>
            </div>
            </div>
            <div class="container">
                <div class="cursor">
                    <a href="https://www.fender.com/es/squier-series/classic-vibe/"><img class="rounded" src=""  alt=""></a>
                </div>
                </div>

</div>
